<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <parameter name="navigateur"   value="chrome" />
	<parameter name="motRcherche"    value="ROUGE ALLURE" />
	<parameter name="nomProduit"    value="ROUGE ALLURE" />
	<parameter name="quantite"    value="1"  />
  <test  name="Test">
    <classes>
      <class name="com.test.technique.selenium.testCase.ExerciceTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
